* {
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: antiquewhite;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

header {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    max-height: 200px;
    gap: 20px;
}

#ContainerDigiteSuaTarefa, .item {
    min-height: 78px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-flow: row nowrap;
    height: 40%;
    width: 90%;
    border: none;
    font-family: Arial, Helvetica, sans-serif;

}

#ContainerDigiteSuaTarefa>#DigiteSuaTarefa {
    flex: 70%;
}

#DigiteSuaTarefa>input {
    border: 1px solid black;
    text-align: center;
    width: 100%;
    height: 95%;
    font-size: 1.4rem;
}

#Adicionar {
    height: 94%;
    border: 1px solid black;
}

#ContainerDigiteSuaTarefa>#Adicionar, #verde {

    text-align: center;
    background-color: green;
    flex: 30%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

}

.ContainerDigiteSuaTarefaItens {
cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    height: 100%;

}

main {
    gap: 20px;
    margin-top: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100%;
}

.item {
  
    background-color: white;
    align-items: center;
    justify-content: start;
    display: flex;
    flex-flow: row nowrap;
    height: 60px;
    box-shadow: 1px 1px 1px 1px rgb(105, 101, 101);
}

#CirculoTarefa {
    cursor: pointer;
    width: 48px;
    height: 48px;
    flex: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
   color: black;
}

#CirculoTarefa>img, button>img {
    width: 24px;
    height: 24px;
}

#ConteudoTarefa {
    display: flex;
    align-items: center;
    justify-content: center;
    
    flex: 60%;
    height: 100%;
    overflow: hidden;
}

#Deletar {
  
    min-width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 30%;
    background-color: red;
}

button > p {
    background-color: red;
    color: white;
    font-size: 0.8em;
}

button >img {
 border-radius: 50%;

 
}
.TextoConteudoTarefa
{
    width: 100%;
}

.item-clicado > #ConteudoTarefa
{
    color: gray;
    text-decoration: line-through;
}
    
 .item-clicado
{
    background-color: rgb(230, 255, 192);
}

button
{
    cursor: pointer;
    background-color: red;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    border: 0px;
}